mixin field-input(id, _label="", required=false, size="small")
  - var input_id = "input_" + id
  - var size_class = "is-" + size
  - var input_max_size = "32"
  - var input_max_size_errmsg = "You can enter only " + input_max_size + "characters."
  .field
    label= _label
    if required
      span.required *
    .control
      input.input(type="text"
                  id=input_id
                  class=size_class
                  required=required
                  data-parsley-trigger="keyup"
                  data-parsley-maxlength=input_max_size
                  data-parsley-maxlength-message=input_max_size_errmsg
                  data-parsley-validation-threshold="10"
                  )