mixin field-plus-minus(id, _label="", size="8em")
  - var input_id = "input_" + id
  - var btn_plus_id = "btn_plus_" + id
  - var btn_minus_id = "btn_minus_" + id
  //- - var size_class = "is-" + size
  - var style = "width: " + size + ";"
  .field
      label= _label
      .control.has-addons
        input.input(id=input_id style=style)
        button.button.is-icon.is-green(id=btn_plus_id)
            i.fa.fa-plus-circle.fa-lg.icon-button
        button.button.is-icon.is-red(id=btn_minus_id)
            i.fa.fa-minus-circle.fa-lg.icon-button